<launch>
    <node name="goal_manager" type="goal_mng.py" pkg="goal_manager" output="screen">
        <!--
        <remap from="gps_goals_list" to="goal_manager/gps_goals_list" />
        <remap from="gps_goal_pose" to="goal_manager/gps_goal_pose" />
        <remap from="gps_goal_fix" to="goal_manager/gps_goal_fix" /> -->
    </node>

    <include file="$(find steve_cam)/launch/aruco_detect.launch" />
    
</launch>
